<h3 mat-dialog-title>Order: {{ data.oldProtocolId }}</h3>

<div mat-dialog-content>
  <mat-form-field>
    <label>
      <input matInput placeholder="ProtocolId" [(ngModel)]="data.protocolId" cdkFocusInitial>
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput placeholder="Customer" [(ngModel)]="data.customer" cdkFocusInitial>
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput placeholder="Test" [(ngModel)]="data.test" cdkFocusInitial>
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput placeholder="SampleType" [(ngModel)]="data.sampleType" cdkFocusInitial>
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput placeholder="OrderAmount" [(ngModel)]="data.orderAmount" cdkFocusInitial>
    </label>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Save</button>
</div>

