@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

div {
}

span {
  width: 200px;
  font-size: 20px;
}

.mat-stepper-vertical {
  margin-top: 8px;
  font-size: 20px;
  width: 500px !important;
  float: left;
}

.mat-form-field {
  margin-top: 16px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input .svoris {
  border: 1px solid black;
}
mat-card {
  display: flex;
}

.lastWeight {
  justify-content: center;
  margin-top: 8px;
  margin-left: 200px;
  float: left;
  border-style: solid;
  border-color: lightskyblue;
}

.padekloSvoris {
  width: 200px;
  border-style: solid;
  border-color: lightskyblue;
}

.meginioSvoris {
  width: 200px;
  border-style: solid;
  border-color: lightskyblue;
  margin-bottom: 5px;
flex-direction: row;

}


.a {
  margin-top: -10px;
  font-size: 10px;
  vertical-align: top;
  margin-bottom: 5px;
  margin-left: -10px;
  text-align: left;
}
