<form class="example-form">
  <mat-form-field class="example-full-width">
    <label>Įveskite užsakymo numerį</label>
    <input (ngModelChange)="childFunction(this.sampleList)" #protocol matInput="protocol" name="protocol" [(ngModel)]="samples.protocolId" class="form-control" >
  </mat-form-field>
  <br>
<button class="btn btn-primary"  (click)="newProtocolWeight(protocol.value)" >Pateikti</button>
  <br>

  <div class="form-group">

    <label> Mėginių sąrašas </label>
    <li *ngFor="let sample of sampleList; let i= index">
      <td class="id">{{sample.sampleId}}</td>
      <td>
        <input  type="text" name="sampleId-{{i}}" [(ngModel)]="sampleList[i].sampleWeight" #ft01="ngModel"  class="form-control" #samplesS="ngModel" required
        ></td>
      <div
        class="alert alert-danger"
        *ngIf="samplesS.touched && !samplesS.valid">
        <small
          *ngIf="samplesS.errors.required">
          Įveskite mėginio ID
        </small>
      </div>
      <button type="button" class=" btn btn-secondary" (click)="submitWeight(this.sampleList)"> Sverti </button>
  </div>
{{this.sampleList | json }}
