<div class="container-fluid">
  <div [hidden]="submitted">
    <h1>Užsakymo forma</h1>

    <form (ngSubmit)="onSubmit(); onSubmit2()" #orderForm="ngForm" novalidate id="orderForm">


      <div class="form-group">
        <label for="protocolId">Protokolas</label>
        <input
          (ngModelChange)="protocolChange($event)"
          [(ngModel)]="orders.protocolId"
          required
          pattern="^[0-9]*$"
          name="protocolId"
          #protocol="ngModel"
          id="protocolId"
          class="form-control"
          tabIndex="1"
        >
        <div
          class="alert alert-danger"
          *ngIf="protocol.touched && !protocol.valid">
          <small
            *ngIf="protocol.errors.required">
            Įveskite užsakymo numerį
          </small>
          <div
            *ngIf="protocol.errors.maxlength">
            Max {{protocol.errors.maxlength.requiredLength}} chars allowed
          </div>
        </div>


        <label for="customer"> Užsakovas </label>
        <input [(ngModel)]="orders.customer" name="customer" type="text" class="form-control" id="customer"
               #customer="ngModel"
               required
               [matAutocomplete]="autoGroup">

        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of customerGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{name}}
              <button type="button" mat-raised-button color="primary" (click)="swalCustomerDelete();delete(name)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-option>
          </mat-optgroup>
          <button mat-menu-item (click)="openDialog()">
            <mat-icon>edit</mat-icon>
            <span>Pridėti naują užsakovą</span>
          </button>
        </mat-autocomplete>

        <div
          class="alert alert-danger"
          *ngIf="customer.touched && !customer.valid">
          <small
            *ngIf="customer.errors.required">
            Įveskite užsakovą
          </small>
        </div>
        <div>
          <label>Tyrimai</label>
        <ng-multiselect-dropdown
          name="tests"
          #tests="ngModel"
          id="tests"
          [placeholder]="'-'"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onDropDownClose)="onDropDownClose(selectedItems)"
        >
        </ng-multiselect-dropdown>
        </div>
        <div
          class="alert alert-danger"
          *ngIf="tests.touched && !tests.valid">
          <small
            *ngIf="tests.errors.required">
            Įveskite daromus tyrimus
          </small>
        </div>
      </div>


      <div class="form-group">
        <label for="orderType"> Kuro rūšis </label>
        <br>
        <select (blur)="validateType(sampleTypeS.value)" (change)="validateType(sampleTypeS.value)"
                #sampleTypeS="ngModel"
                [(ngModel)]="orders.sampleType" name="sampleType" class="form-control" required id="orderType">

          <option *ngFor="let sampleType of sampleTypes">{{sampleType}}
          </option>
        </select>
        <small class="text-danger" *ngIf="sampleTypeS.touched &&!sampleTypeS.valid">Pasirinkitę kuro rūšį</small>
      </div>

      <div class="form-group">
        <label for="sampleAmount"> Kiekis </label>
        <input
          (focusout)="toggleChild();childFunction(orders)"
          required
          [(ngModel)]="orders.orderAmount"
          name="orderAmount"
          #sampleAmount="ngModel"
          pattern="^[0-9]*$"
          class="form-control"
          id="sampleAmount"
        >
        <div
          class="alert alert-danger"
          *ngIf="sampleAmount.touched && !sampleAmount.valid">
          <small
            *ngIf="sampleAmount.errors.required">
            Įveskite mėginių kiekį
          </small>
        </div>
      </div>

      <button mat-button [disabled]="orderForm.form.invalid || typeHasError" type="submit" class="btn btn-primary"
              (click)="swalOrderRegister()">
        Registruoti
      </button>

      <button mat-button type="button" class=" btn btn-secondary" (click)="clear()">Valyti</button>

      <ol class="form-group">
        <label *ngIf="showVar"> Mėginių sąrašas </label>

        <li *ngFor="let sample of sampleList; let i= index">
          <td>
            <input type="text" name="sampleId-{{i}}" [(ngModel)]="sampleList[i].sampleId" #ft01="ngModel"
                   class="form-control" #samplesS="ngModel" required
            ></td>
          <div
            class="alert alert-danger"
            *ngIf="samplesS.touched && !samplesS.valid">
            <small
              *ngIf="samplesS.errors.required">
              Įveskite mėginio ID
            </small>
          </div>
      </ol>

    </form>
  </div>
