{{tmArray|json}}
<mat-card class="lastWeight"> <span class="a"> Paskutinio svėrimo svoris </span>  {{this.weight}}</mat-card>
<div class="parent">
  <form [formGroup]="formGroup">
    <mat-vertical-stepper #stepper (selectionChange)="onChange($event)" formArrayName="form">

      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel><span> Įveskite padėklo registravimo datą yyyyMMdd </span></ng-template>
          <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput id="input0" [(ngModel)]="date" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext (click)="addItem()" >Sekantis</button>
          </div>
        </form>
      </mat-step>

      <mat-step [formGroupName]="i" *ngFor="let customerGroup of formGroup.controls.form.controls; let i = index">
        {{tmArray[i]|json}}
        <ng-template matStepLabel><span> Fiksuokite padėklo numerį ir svorį:  </span></ng-template>
        <mat-form-field>
          <input id="input{{i+1}}" matInput placeholder="Padėklo numeris" [(ngModel)]="tmArray[i] && tmArray[i].trayId"
              (keydown.enter)="addItem();sverti(tmArray[i])"   (focusout)="action(tmArray[i])" formControlName="cont1" required>
        </mat-form-field>

        <mat-card class="padekloSvoris"> <span class="a">Padėklo svoris po dziovinimo </span>  {{tmArray[i] && tmArray[i].trayAndSampleWeightAfter}}</mat-card>
        <div>
          <button mat-button matStepperPrevious>Atgal</button>
          <button mat-button matStepperNext>Sekantis</button>
          <button mat-button matStepperNext (click)="stepper.reset();onSubmit(tmArray);swalSamplesRegister()" >Baigta</button>
          <button mat-button (click)="stepper.reset(); reset()">Pildyti iš naujo</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>

