<div ng class="buttons">
<button class="btn1" mat-flat-button color="primary"  (click)="swalCalibration()">Kalibracija</button>
<button class="btn1" mat-flat-button color="primary" (click)="this.selectedOption = true; this.selectedOption2 = false"> Naujo padėklo svėrimas</button>
</div>

<div class="container-fluid" *ngIf="selectedOption">
 <div >Naujo padėklo svėrimas</div>
  <label>Skenuokite padėklą :</label>
  <input tabIndex="1" matInput [(ngModel)]="trays.trayId" name="trayId">
  <label>Sverkite padėklą :</label>
  <input tabIndex="2" matInput [(ngModel)]="trays.trayWeight" name="trayWeight">
  <button mat-button class="btn btn-secondary" (click)="onSubmit(trays)" type="button"></button>
</div>

<div  class="container-fluid" *ngIf="selectedOption2">

  <div>Kalibracija</div>
  <label >Skenuokite padėklą :</label>
  <input tabIndex="1" (focus)="trays.trayId = null" (focusout)="childFunction(trays)" matInput [(ngModel)]="trays.trayId" name="trayId">
  <label>Sverkite padėklą :</label>
  <input tabIndex="2" (keyup.enter)="trays.trayWeight = null"  matInput [(ngModel)]="trays.trayWeight" name="trayWeight">
    <button tabIndex="3" mat-button class="btn btn-secondary" (keydown.enter)="onSubmit(trays)" type="button"></button>
</div>
<br>
{{this.trays | json}}
{{trays| json}}


