@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
h1 {
  text-align: center;
}

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}
.btn1{
  color : azure;
  background-color: deepskyblue;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width:100%;
}
.buttons{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
h3 {
  text-align: center;
}
div{
}
.example-margin{
  margin-right: 50px;
}
.form-control.ng-touched.ng-invalid{
  border:2px solid red;
}
.container-fluid{
  width: 600px;
  border: 3px solid lightskyblue;
}
.id{
  border-bottom: 10px;
}
label {
  padding-bottom: 20px;
  padding-top: 20px;
}
.id{
  font-size: 30px;
}
